.squaresMapWrap {
    position: fixed;
    top: 100px;
    left: 30%;;
    z-index: 1;
    background-image: url(../../../image/bg.jpg);

    .col {
        display: flex;
        justify-content: flex-start;
    }
}