.contraBGWrap {
    position: absolute;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-image: url(../../../../image/people.png);
    background-position: -140px -19px;
}