@import "../../../../common/config";

.contraBGWrap {
    position: absolute;
    width: $eachWidth;
    height: $eachHeight;
    background-repeat: no-repeat;
    background-image: url(../../../../image/people.png);
    background-position: -140px -19px;
}