.inGameBGWrap {
    position: relative;
    left: 0px;
    top: 0px;
    height: 100%;

    .gameBackground {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 1;
        background-image: url(../../../image/bg.jpg);
    
        .col {
            display: flex;
            justify-content: flex-start;
        }
    }

    .gameContent {
        position: relative;
        z-index: 2;
    }
}