@import "common/config";

.appWrap {
    width: $usefulAreaWidth;
    height: $usefulAreaHeight;
    position: fixed;
    overflow: hidden;
    border: 1px solid #ccc;
    top: 100px;
    left: 30%;
}